:root {
  --bg-color: #0F172A;
  --brand-color-dark: #1D4ED8;
  --brand-color-light: #60A5FA;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --font-family: "Archivo", sans-serif;

  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--brand-color-light);
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font: inherit;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 32px;
}

.content-tag {
  background-color: var(--brand-color-dark);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.25);
  color: var(--text-color-primary);
  display: inline-block;
  font: 500 10px/120% var(--font-family);
  letter-spacing: 0.04rem;
  padding: 4px 8px;
  text-transform: uppercase;
}
