:root {
  --bg-color: #0F172A;
  --brand-color-dark: #1D4ED8;
  --brand-color-light: #60A5FA;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}
