.primary {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding-block: 20px;

  div {
    align-items: center;
    display: flex;
    gap: 8px;
  }
}

.secondary {
  border: 1px solid var(--stroke-color);
  border-inline: none;
  display: grid;
  font: var(--text-span);
  grid-auto-flow: column;
  justify-content: space-between;
  padding-block: 14px;
}

.header {
  border-top: 1px solid var(--stroke-color);
  display: flex;
  justify-content: space-between;
  padding-top: 12px;

  h3,
  a {
    color: var(--text-color-secondary);
  }

  a {
    align-items: center;
    display: flex;
    gap: 8px;
    
    span {
      background-image: url(../assets/icons/arrowRight.svg);
      height: 16px;
      width: 16px;
    }

    &:hover {
      color: var(--brand-color-light);
    }
    
    &:hover span {
      background-image: url(../assets/icons/arrowRight-hover.svg);
    }
  }
}
