#featured {
  grid-area: featured;

  figure {    
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    figcaption {
      bottom: 0;
      padding: 24px;
      position: absolute;      

      &:has(.font-h3) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
  
  figure img {
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
  }
}

#weekly {
  grid-area: weekly;

  div {
    grid-template-columns: repeat(4, 1fr);

    figure {
      position: relative;

      img {
        object-fit: cover;
        height: 160px;
        width: 100%;
      }

      figcaption {
        span {
          left: 8px;
          position: absolute;
          top: 12px;
        }
      }      
    }
  }
}

#highlights {
  grid-area: 'highlights';

  figure {
    display: grid;
    gap: 16px;
    grid-auto-flow: column;
    overflow: hidden;
    height: 176px;

    img {
      aspect-ratio: 1/1;
      object-fit: cover;
      order: 1;
      height: 176px;
    }

    figcaption {
      order: 0;

      span,
      h3 {
        margin-bottom: 8px;
      }      
    }
  }
}
