#featured {
  margin-top: 40px;

  figure {    
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    figcaption {
      bottom: 0;
      padding: 24px;
      position: absolute;      

      &:has(.font-h3) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
  
  figure img {
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
  }
}

#weekly {
  header {
    border-top: 1px solid var(--stroke-color);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;

    h3,
    a {
      color: var(--text-color-secondary);
    }

    a {
      align-items: center;
      display: flex;
      gap: 8px;
      
      span {
        background-image: url(../assets/icons/arrowRight.svg);
        height: 16px;
        width: 16px;
      }

      &:hover {
        color: var(--brand-color-light);
      }
      
      &:hover span {
        background-image: url(../assets/icons/arrowRight-hover.svg);
      }
    }
  }

  div {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 24px;

    figure {
      position: relative;

      img {
        object-fit: cover;
        height: 160px;
        width: 100%;
      }

      figcaption {
        span {
          left: 8px;
          position: absolute;
          top: 12px;
        }
      }      
    }
  }
}
