#featured {
  margin-top: 40px;

  figure {    
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    figcaption {
      bottom: 0;
      padding: 24px;
      position: absolute;      

      &:has(.font-h3) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
  
  figure img {
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
  }
}
