.grid {
  display: grid;
}

.grid-flow-columns {
  grid-auto-flow: column;
}

.grid-cl-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gap-16 {
  gap: 16px;
}

.gradient {
  position: relative;

  &::before {
    content: "";
    background: linear-gradient(
      180deg,
      transparent 0%,
      #020617 100%
    );
    inset: 0;
    position: absolute;
    top: 50%;
  }
}

.font-h1 {
  font: var(--h1);
}

.font-h2 {
  font: var(--h2);
}

.font-h3 {
  font: var(--h3);
}

.txt {
  font: var(--text);
}

txt-sm {
  font: var(--text-sm);
}
